@import '~shepherd.js/dist/css/shepherd.css';

@import './index';

.shepherd {
  &-content {
    padding: 6px;
    border-radius: $border-radius;
  }

  &-arrow {
    &::before {
      background-color: get-color(white) !important;
    }
  }

  &-has-title &-content &-header {
    background-color: get-color(white);
    padding-bottom: 0;
  }

  &-title {
    font-weight: 500;
  }

  &-text {
    padding-top: 5px;
  }
}
